/* تخصيص البطاقة داخل الـ Carousel */
.libraries .container-fluid {
    background-color: rgb(117, 209, 225);
    /* width:80%; */
    /* margin: auto; */
}
.libraries .stat-card{
    background-color: #eee;
    height: 400px!important;

    

}
.carousel-item {
    text-align: center;
    padding: 20px;
  }
  
  .carousel-item img {
   width:150px;
   height: 150px;
    border-radius: 50%;
    object-fit: cover; 
  }
  
  .carousel-item h5 {
    font-size: 1.2rem;
    margin-top: 15px;
    color: #E65100;
  }
  
  .carousel-item p {
    font-size: 1rem;
    color: #6c757d;
  }
  
  .carousel-item .btn {
    border-radius: 25px;
    padding: 10px 20px;
    border: 2px solid #0097b2;
    color: #0097b2;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .carousel-item .btn:hover {
    background-color: #0097b2;
    color: #ffffff;
  }
  